@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap");
/* Primary colors */
/* Neutral colors */
/*
Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
*/
/* Custom colors */
/* Font family */
:root {
  font-size: 13px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #ecf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1rem;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 26px;
  width: 320px;
  margin: 70px auto 30px;
}

.card {
  border: none;
  border-radius: 10px;
  padding: 24px 34px 30px 30px;
  color: #cfcfcf;
  -webkit-box-shadow: 10px 10px 10px rgba(72, 85, 106, 0.1);
          box-shadow: 10px 10px 10px rgba(72, 85, 106, 0.1);
}

.card:nth-child(1) {
  background-color: #7541c8;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 194px 0;
}

.card:nth-child(2) {
  background-color: #48556a;
}

.card:nth-child(3) {
  background-color: white;
  color: #48556a;
}

.card:nth-child(4) {
  background-color: #19212e;
}

.card:nth-child(5) {
  background-color: white;
  color: #48556a;
}

.card__profile-pic {
  border: 2px solid transparent;
  border-radius: 50%;
  width: 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  float: left;
}

.card__profile-name {
  float: left;
  margin-left: 16px;
  margin-bottom: 16px;
}

.card__profile-name > p:nth-child(1) {
  font-weight: 500;
}

.card__profile-name > p:nth-child(2) {
  opacity: 50%;
  font-size: .9rem;
}

.card__quotes1 {
  clear: left;
  font-size: 1.52rem;
  font-weight: 500;
  color: white;
  margin-bottom: 22px;
}

.card__quotes2 {
  line-height: 1.35rem;
  opacity: 70%;
}

.card-1 > .card__profile-pic {
  border-color: #9b77da;
}

.card-4 > .card__profile-pic {
  border-color: #7541c8;
}

.card-3 > .card__quotes1,
.card-5 > .card__quotes1 {
  color: #48556a;
  font-weight: 600;
  font-size: 1.51rem;
}

@media screen and (min-width: 700px) {
  .wrapper {
    width: 660px;
  }
  .card:nth-child(1) {
    background-position: 510px 0;
  }
}

@media screen and (min-width: 1120px) {
  .wrapper {
    margin-top: 162px;
    margin-bottom: 80px;
    grid-row-gap: 24px;
    grid-column-gap: 30px;
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
    width: 1110px;
  }
  .card:nth-child(1) {
    background-position: 320px 0;
  }
  .card-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  .card-2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
  }
  .card-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .card-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
  }
  .card-5 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
}
/*# sourceMappingURL=index.css.map */